* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  background: #21222a;
}
.navbar-logo {
  height: 45px;
  padding: 5px;
}
.navbar-h2 {
  color: #00d8ff;
  font-weight: 600;
}
.navbar-h3 {
  color: white;
  margin-left: auto;
  font-weight: 400;
}
.main {
  display: flex;
  background: #282d35;
  height: 100vh;
  color: white;
  padding: 30px;
  overflow: hidden;
}

li::marker {
  color: #61dafb;
  font-size: xx-large;
  width: 1em;
}
.main-h1 {
  font-size: 40px;
  letter-spacing: -0.05em;
}
.main-logo {
  filter: opacity(0.1) grayscale(100%);
  height: 40vh;
  width: 40vh;
  margin-left: auto;
  margin-right: -200;
  margin-top: 50;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
